/* Grand Central Station. Operator. Main. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";

body {
    background: #ffffff;
}

// Layout
main {
    background: darkslategray;
    margin: auto;
    width: 90%;
}

// RWD header img
main header img {
    width: 100%;
    max-width: 100%;
}

// Random Backgrounds
.bg0 {
  background: #ffffff;
}

.bg1 {
  background: #ffffff;
}

.bg2 {
  background: #ffffff;
}

// Portfolio Items
// Flexbox Layout
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article figure {
  background: #e8e8e8;
  padding: 2em;
  width: 20em;

  
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1, h2, figcaption {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h1 {
    font-size: 9em;
    font-weight: 700;
    text-align: center;
    color: darkslategrey;
}

h2 {
    font-size: 2em;
    font-weight: 100; 
    color:white;
    text-align:inherit;
    padding-left: 10px;
    padding-bottom: 10px; 
    padding-top: 19px; 
    margin-right: 10px;
    line-height: normal;
    
}

figcaption {
    font-size: 2em;
    font-weight: 100; 
    padding-bottom: 10px;
    padding-top: 10px;
   color: darkslategray;
    line-height: 1em;
    
}